<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WX-AUTO</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2 class="text-center text-primary">DaoCloud APP Status</h2>
        <h2 class="text-center text-primary">{{ resinfo }}</h2>
    </div>
</div>
</body>
</html>